{% extends 'main/layout.html' %}
{% block title %} Новости на сайте {% endblock %}

{% block content %}

    <style>
        .alert {
            height: 500px;
        }
    </style>
    <div class="container text-center">
        <h1 style="color:#ffff;">Новости</h1>

        <div class="row mb-3">
            <div class="col-md-12">
                <h2 style="color:#ffff;">Категории</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'news_home' %}" class="btn btn-secondary">Все</a></li>
                    {% for category in categories %}
                        <li class="list-inline-item"><a href="?category={{ category.id }}" class="btn btn-secondary">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            {% if news %}
                {% for el in news %}
                    <div class="col-md-6">
                        <div class="alert alert-warning">
                            {% if el.image %}
                                <img src="{{ el.image.url }}" alt="{{ el.title }} Image" class="img-fluid" style="width: 100%; height: 200px">
                            {% endif %}
                            <h3>{{ el.title }}</h3>
                            <p>{{ el.anons }}</p>

                            <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>У вас нет записей</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
